body{
    background-color: #ECEEF2;
}

.card {
    border: 1px solid #ccc;
    min-height:300px;
    border-radius: 10px;
    padding: 0px 20px;
    background-image: url('https://yastatic.net/s3/weather-frontend/_/oHbtqmZIl9VRwbT2ZXqHest7pVM.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

 .weather__byDay, .weather__otherRegions{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
}

.weather__byDay-item{
    display:inline-block;
    width:10%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.weather__byDay-item:hover{
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,.1);
    cursor:pointer;
}

.weather__byDay-item h3{
    margin:0;
}

.weather__otherRegions{
    padding: 0 10px;
}